<!DOCTYPE html>
<html>
<head>
  <title>ShopDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div id="main_content">
				<form action="/checkout" method="get"><input type="hidden" name="affiliate_id" value="5789"><input type="hidden" name="creative_id" value="1443"><button>Click to apply IPSYPLOOS Promotion</button></form>

		<%= yield %>		
	</div>

</body>
</html>
